body {
  font-family: 'Abel';
  font-size: 28px;
  background-color: hsl(89, 43%, 51%);
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, .7);
  overflow: auto;
  width: auto;
  margin: 0 auto;/* margin: 0 auto;
  Als je een element met een beperkte breedte zoals dit div-element met de class wrapper
  wil centreren dan geef je hem en marge 0 auto: vertikaal niets maar horizontaal auto.
  Dus de linkermarge is auto en de rechtermarge ook. Het element staat dan in het midden.
  Contrleer maar door het browservenster van breedte te laten veranderen.
  */
}

header {
  background-image: url('../1.jpg'), url('../img/grid.png');grid-column: 1/4;
  background-color: rgb(0,0,255);
  color: #006400;
  text-align: center;
}

.tagline {
  font-size: 26px;
  text-align: center;
}

.auteur {
  float: right;
  text-align: right;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
}


main {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid gap: 2em;
  padding: 20px;
}

section {
  background-color: rgb(192,192,192);
  width: 95%;
  box-sizing: border-box;
  margin: 20px;
  padding: 30px;

  /*width: 360px;*/
  /* door de breedte in te perken zouden er wel 3 sections in het main-element
  naast elkaar passen */
  float: left;
  /* float: hierdoor gaan de elementen naar links en als er nog ruimte aan de
  rechterkant over is, vloeit de inhoud, die hiernaar komt er in.
  Kijk eventurrl wat er gebeurt als je float:left weghaald!! */
  border-radius: 15px;
}


.veel {
  grid-column: span 2;
}

.breed {
  grid-column: span 2;
}


h3 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 21px;
}
p {
  margin: 1;
  font-size: 16px;
  line-height: 21px;
}

aside {
  font-family: 'Abel';
  font-size: 22px;
  margin: 10px;
  padding: 30px;
}


footer {
  clear: left;
  /*als dit acterwege blijft vloeit de footer ook nog langs de floatende elementen.
  Deze 'hack' zorgte er dus voor dat de footer 'onder' de sectins blijft */
  background-color: rgba(0,0,0,.7);
  color: white;
  padding: 30px;
  grid-column: span 2;
}
#validatie img {
    height: 1em;
    width: auto;
    border: 260px;
    margin: 0 .3em;
}
div.parent {
    position: relative;
    height: auto;
    border: 3px solid #8AC007;

}
@media only screen and (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}

@media only screen and (max-width: 768px) {
header {
  background-image: url('../2.jpg'), url('../img/grid.png');grid-column: 1/4;
  background-color: rgb(0,0,255);
  color: #C0C0C0;
}
}

@media only screen and (max-width: 768px) {
  .veel {
    grid-column: span 1;
  }
  .breed {
    grid-column: span 1;
  }

}
